@use 'sass:map';

$common: (
  'nav-height': 55px,
  'aside-width': 300px,
  'aside-pt': 16px,
  'list-link-buffer': 17px,
  'font': 'Inter, -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", sans-serif',
  'z-backdrop': 10,
) !default;
$common: map.merge((), $common);

$light: (
  'c-text': hsla(240, 2%, 12%, 1),
  'c-text-muted': hsla(216, 1%, 54%, 1),
  'c-text-deep': hsla(200, 3%, 18%, 1),
  'c-text-deeper': hsla(0, 0%, 0%, 1),
  'c-brand': var(--va-c-primary),
  'c-brand-light': var(--va-c-primary-light),
  'c-link': var(--va-c-link),
  'c-bg-design': hsla(0, 0%, 100%, 1),
  'c-nav-bg': hsla(0, 0%, 100%, 0.7),
  'c-sub-nav-bg': var(--oceanus-c-nav-bg),
  'c-border': hsla(240, 4%, 83%, 1),
  'c-border-line': hsla(0, 0%, 0%, 0.1),
  'c-divider': hsla(0, 0%, 0%, 0.04),
  'c-active-bg': hsla(240, 14%, 94%, 1),
  'c-list-active-bg': hsla(240, 12%, 93%, 1),
  'c-list-hover-bg': var(--oceanus-c-list-active-bg),
  'c-list-active-font': hsla(0, 0%, 0%, 1),
  'c-card-bg-h': '0',
  'c-card-bg-s': '0%',
  'c-card-bg-l': '99%',
  'c-card-bg': hsla(var(--oceanus-c-card-bg-h), var(--oceanus-c-card-bg-s), var(--oceanus-c-card-bg-l), 1),
  'c-card-outline': hsla(var(--oceanus-c-card-bg-h), var(--oceanus-c-card-bg-s), var(--oceanus-c-card-bg-l), 0.06),
  /* Match homepage card surface */
  'c-footer-bg': hsla(var(--oceanus-c-card-bg-h), var(--oceanus-c-card-bg-s), var(--oceanus-c-card-bg-l), 1),
  'c-footer-border': hsla(var(--oceanus-c-card-bg-h), var(--oceanus-c-card-bg-s), var(--oceanus-c-card-bg-l), 0.06),
) !default;
$light: map.merge((), $light);

$dark: (
  'c-text': hsla(240, 4%, 96%, 1),
  'c-text-muted': hsla(240, 2%, 65%, 1),
  'c-text-deep': hsla(60, 100%, 98%, 0.86),
  'c-text-deeper': hsla(0, 0%, 100%, 1),
  'c-brand': var(--va-c-primary),
  'c-brand-light': var(--va-c-primary-light),
  'c-link': var(--va-c-link),
  'c-bg-design': hsla(0, 0%, 0%, 1),
  'c-nav-bg': hsla(240, 2%, 8%, 0.72),
  'c-sub-nav-bg': var(--oceanus-c-nav-bg),
  'c-border': hsla(0, 0%, 15%, 0.5),
  'c-border-line': hsla(0, 0%, 100%, 0.04),
  'c-divider': hsla(240, 4%, 18%, 0.5),
  'c-active-bg': hsla(240, 10%, 18%, 0.5),
  'c-list-active-bg': hsla(240, 8%, 20%, 0.5),
  'c-list-hover-bg': var(--oceanus-c-list-active-bg),
  'c-list-active-font': hsla(0, 0%, 0%, 1),
  'c-card-bg-h': '0',
  'c-card-bg-s': '0%',
  'c-card-bg-l': '8%',
  'c-card-bg': hsla(var(--oceanus-c-card-bg-h), var(--oceanus-c-card-bg-s), var(--oceanus-c-card-bg-l), 1),
  'c-card-outline': hsla(0, 0%, 100%, 0.08),
  'c-footer-bg': transparent,
  'c-footer-border': var(--oceanus-c-divider),
) !default;
$dark: map.merge((), $dark);

$z-index: () !default;
$z-index: map.merge((), $z-index);
